{% extends ".v1/layout/empty" %}
{# 
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
{% endblock %} #}

{% block content %}
    <center style="padding-top: 50px;">

        <img src="Budgeting tool.png" alt="Logo" alt="" />

    </center>

    <div id="app">
        <onboarding></onboarding>
    </div>


{% endblock %}
