{% extends "./layout/empty" %}
{#
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
{% endblock %} #}

{% block content %}
    <div id="app">
        <div class="onboarding-component">
            <onboarding></onboarding>
        </div>
        <img alt="Background image" class="image-background" src="v1/images/budgeting_tool/Btoolbg.png">
    </div>


{% endblock %}
