@font-face {
    /*font-family: 'LemonMilk';*/
    /*src:  url('../fonts/Lemon_Milk_Pro/Lemon Milk Pro Ultra Light.otf') format('opentype');*/
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;

}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-display: swap;

}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-display: swap;

}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;

}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;

}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
    font-display: swap;
}

/*body, p, h1, h2, h3, h4, h5, h6, a, .wistia_bento_item_name {
    font-family: 'Alegreya Sans' !important;
    font-display: swap;
}
*/